<strong>Recuperação de Senha</strong>

<p>Uma solicitação de recuperação de senha foi realizado pelo e-mail({{email}})</p>
<p>Para continuar com a recuperação, utilize  o token {{token}} ou click no link abaixo</p>

<a href="{{ link }}">Criar nova senha</a>

